.MainBody {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1500px;
    padding: 0px 20px;
}

@media (max-width: 768px) {
    .MainBody {
        padding: 0px 15px;
    }
}

@media (max-width: 560px) {
    .MainBody {
        padding: 0px 10px;
    }
}

@media (max-width: 480px) {
    .MainBody {
        padding: 0px 3px;
    }
}