.IntroTitle-container {
    display: flex;
    position: absolute;
    bottom: -20px;
}

/*.IntroTitle-container div {*/
/*    font-weight: 400;*/
/*    font-size: 96px;*/
/*    line-height: 127px;*/
/*}*/

.IntroTitle-text {
    text-align: left;
    color: #fff;
    font-weight: 400;
    font-size: 60px;
    line-height: 80px;
}

.IntroTitle-title {
    /*margin-left: 20px;*/
    font-size: 80px;
    color: #FF0000;
    position: absolute;
    left: 0;
    /*top: 145px;*/
    /*animation: change-color 0.5s ease-in;*/
    /*animation-iteration-count: 5;*/
    /*transition: 0.5s ease-in-out;*/
}

.IntroTitle-title.white {
    color: white;
    transition: 0.3s ease-in-out;
}

/*.IntroTitle-text:nth-child(1) {*/
/*    top: 120px;*/
/*}*/

@keyframes change-color {
    0% {
        opacity: 0;
        transform: translate3d(500px, -100px, 0) scale(0.5);
        color: #FF0000;
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0) scale(2);
        color: #FFF;
    }
}

/*.IntroTitle-text {*/
/*    background-image: url(../images/intro_title.svg);*/
/*    background-position: center;*/
/*    background-repeat: no-repeat;*/
/*    !*max-width: 840px;*!*/
/*    !*max-height: 255px;*!*/
/*    width: 100%;*/
/*    height: auto;*/
/*    min-width: 300px;*/
/*    min-height: 460px;*/
/*    position: absolute;*/
/*    left: 0;*/
/*    bottom: -140px;*/
/*    zoom: 0.8;*/
/*}*/

.IntroTitle-ellipse {
    background-image: url(../images/intro_ellipse.svg);
    background-position: center;
    background-repeat: no-repeat;
    max-width: 840px;
    max-height: 255px;
    width: 100%;
    height: auto;
    min-width: 300px;
    min-height: 570px;
    position: absolute;
    right: 0px;
    bottom: -140px;
    zoom: 0.8;
}

@media (max-width: 1024px) {
    .intro-info-container {
        right: 50px;
    }

    .IntroTitle-text {
        font-size: 55px;
        line-height: 75px;
    }

    .IntroTitle-title {
        font-size: 75px;
    }

    .intro-info-container-item {
        font-size: 18px;
        line-height: 24px;
    }

    .IntroTitle-ellipse {
        zoom: 0.65;
        bottom: -95px;
    }
}

@media (max-width: 768px) {
    .IntroTitle-text {
        font-size: 45px;
        line-height: 65px;
    }

    .intro-info-container-item {
        font-size: 16px;
        line-height: 22px;
    }

    .IntroTitle-title {
        font-size: 65px;
    }

    .IntroTitle-ellipse {
        display: none;
    }
}

@media (max-width: 560px) {
    .intro-info-container {
        right: 20px;
    }

    .IntroTitle-text {
        font-size: 35px;
        line-height: 55px;
    }

    .IntroTitle-title {
        font-size: 55px;
    }

    .intro-info-container-item {
        font-size: 14px;
        line-height: 20px;
    }
}