.IntroTitle-container {
    display: flex;
    position: absolute;
    bottom: -35px;
}

/*.IntroTitle-container div {*/
/*    font-weight: 400;*/
/*    font-size: 96px;*/
/*    line-height: 127px;*/
/*}*/

.IntroTitle-text {
    text-align: left;
    color: #fff;
    font-weight: 400;
    font-size: 60px;
    line-height: 80px;
}

.IntroTitle-text span {
    margin-left:20px;
    color: #FF0000;
}

.IntroTitle-ellipse {
    background-image: url(../images/intro_ellipse.svg);
    background-position: center;
    background-repeat: no-repeat;
    max-width: 840px;
    max-height: 255px;
    width: 100%;
    height: auto;
    min-width: 300px;
    min-height: 570px;
    position: absolute;
    right: 0px;
    /*bottom: 80px;*/
    zoom: 0.95;
}