.SuggesterPage-container {
    display: flex;
    flex-direction: column;
}

.SuggesterPage-top-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
}

.SuggesterPage-top-text {
    font-size: 48px;
    line-height: 63px;
}

.SuggesterPage-top-title-container {
    display: flex;
}

.SuggesterPage-top-title {
    font-size: 96px;
    line-height: 127px;
}

.SuggesterPage-top-title:nth-child(1) {
    margin-right: 120px;
}

.SuggesterPage-bottom-container {
    display: flex;
}

.SuggesterPage-left-container {
    width: 30%;
}

.SuggesterPage-left-text {
    font-size: 48px;
    line-height: 63px;
    color: #FF0000;
    background-color: #000;
}

.SuggesterPage-right-container {
    width: 70%;
}

.SuggesterPage-right-text-container {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    right: 135px;
    width: 105%;
}

.SuggesterPage-right-title {
    font-size: 96px;
    line-height: 127px;
    margin-right: 50px;
}

.SuggesterPage-right-text {
    font-size: 48px;
    line-height: 63px;
}