.SuggesterPage-container {
    display: flex;
    flex-direction: column;
}

.SuggesterPage-top-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
}

.SuggesterPage-top-text {
    font-size: 48px;
    line-height: 63px;
}

.SuggesterPage-top-title-container {
    display: flex;
    justify-content: space-between;
}

.SuggesterPage-top-title {
    font-size: 80px;
    line-height: 80px;
}

/*.SuggesterPage-top-title:nth-child(0) {*/
/*    margin-right: 20px;*/
/*}*/

.SuggesterPage-bottom-container {
    display: flex;
}

.SuggesterPage-left-container {
    width: 30%;
}

.SuggesterPage-left-text {
    font-size: 32px;
    line-height: 45px;
    color: #FF0000;
    background-color: #000;
}

.SuggesterPage-right-container {
    width: 70%;
    margin-left: 20px;
}

.SuggesterPage-right-text-container {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    right: 135px;
}

.SuggesterPage-right-title {
    font-size: 60px;
    line-height: 50px;
    margin-right: 50px;
}

.SuggesterPage-right-text {
    font-size: 30px;
    line-height: 50px;
}

@media (max-width: 1100px) {
    .galary-image.rectangle {
        /*height: 95vh;*/
        zoom: 0.7;
    }

    .SuggesterPage-top-text {
        font-size: 35px;
        line-height: 30px;
    }

    .SuggesterPage-top-title {
        font-size: 55px;
        line-height: 65px;
    }

    .SuggesterPage-left-text {
        font-size: 25px;
        line-height: 35px;
    }

    .SuggesterPage-right-text {
        font-size: 20px;
        line-height: 25px;
    }.SuggesterPage-right-text-container {
         flex-wrap: wrap;
     }
}

@media (max-width: 768px) {
    .SuggesterPage-top-text {
        font-size: 25px;
        line-height: 20px;
    }

    .SuggesterPage-top-title {
        font-size: 40px;
        line-height: 50px;
    }

    .SuggesterPage-left-text {
        font-size: 20px;
        line-height: 30px;
    }

    .galary-image.square {
        height: 85vh;
        zoom: 0.7;
    }

    .SuggesterPage-right-title {
        font-size: 40px;
        line-height: 45px;
        margin-right: 25px;
    }

    .SuggesterPage-right-text {
        font-size: 15px;
        line-height: 25px;
    }


}

@media (max-width: 560px) {
    .SuggesterPage-top-text {
        font-size: 20px;
        line-height: 10px;
    }

    .SuggesterPage-top-title {
        font-size: 30px;
        line-height: 45px;
    }

    .SuggesterPage-right-text {
        font-size: 12px;
        line-height: 20px;
    }

    .SuggesterPage-right-title {
        font-size: 30px;
        line-height: 35px;
    }

    .SuggesterPage-right-text-container {
        position: inherit;
    }
}

@media (max-width: 500px) {
    .SuggesterPage-top-text {
        font-size: 18px;
        line-height: 10px;
    }

    .SuggesterPage-top-title {
        font-size: 25px;
        line-height: 45px;
    }

    .SuggesterPage-left-text {
        font-size: 15px;
        line-height: 25px;
    }
}