.GalarySlider-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.slider-container {
    display: flex;
    flex-wrap: nowrap;
    /* height: 500px; */
    /* max-width: 1500px; */
    width: 100%;
    overflow: hidden; position: relative;
    /* margin-top: 400px; */
}