.slide-container {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    transition: 750ms ease-in-out;
}

.image-slide {
    max-height: 95vh;
}

.slide-text-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: absolute;
    bottom: 150px;
    margin-left: 30px;
    width: 100%;
    /*top: 500px;*/
}

.slide-text {
    font-weight: 400;
    font-size: 48px;
    color: #fff;
}

.slide-text.highlighted {
    color: #FF0000;
    padding: 0 20px;
}

@media (max-width: 1024px) {
    .slide-text {
        font-size: 35px;
    }
}

@media (max-width: 768px) {
    /*.slide-text-container {*/
    /*    top: 540px;*/
    /*}*/
    .slide-text.highlighted {
        padding: 0 5px;
    }

    .slide-text {
        font-size: 30px;
    }
}

@media (max-width: 560px) {
    .slide-text {
        font-size: 27px;
    }
}

@media (max-width: 480px) {
    .slide-text {
        font-size: 25px;
    }

    .slide-text-container {
        bottom: 60px;
    }
}

@media (max-width: 320px) {
    .slide-text {
        font-size: 23px;
    }
}