.slide-container {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    transition: 750ms ease-in-out;
}

.image-slide {
    max-height: 95vh;
}

.slide-text-container {
    display: flex;
    position: absolute;
    bottom: -780px;
    margin-left: 65px;
}

.slide-text {
    font-weight: 400;
    font-size: 48px;
    line-height: 63px;
    color: #fff;
}

.slide-text.highlighted {
    color: #FF0000;
    padding: 0 20px;
}