.slide-container {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    transition: 750ms ease-in-out;
}

.image-slide {
    /*border: 10px red solid;*/
    /*background: aquamarine;*/

}

.slide-text-container {
    display: flex;
    position: relative;
    bottom: 290px;
    left: 50px;
}

.slide-text {
    font-weight: 400;
    font-size: 48px;
    line-height: 63px;
    color: #fff;
}

.slide-text.highlighted {
    color: #FF0000;
    padding: 0 20px;
}