.sliders-switcher-container {
    display: flex;
    justify-content: flex-end;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    bottom: 30px;
}

.slider-toggle {
    width: 40px;
    height: 10px;
    border-radius: 25px;
    background: #FF0000;
    margin: 5px;
    opacity: 0.4;
}
.slider-toggle:hover {
    cursor: pointer;
}


.slider-toggle.active {
    opacity: 0.8;
}

