.sliders-switcher-container {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.slider-toggle {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background: white;
    margin: 5px;
    opacity: 0.6;
}

.slider-toggle.active {
    opacity: 1;
}

