.sliders-switcher-container {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.slider-toggle {
    width: 55px;
    height: 15px;
    border-radius: 25px;
    background: #FF0000;
    margin: 5px;
    opacity: 0.4;
}

.slider-toggle.active {
    opacity: 0.8;
}

