.ContactsPage-container {
    display: flex;
}

.ContactsPage-title {
    font-size: 96px;
    line-height: 127px;
    display: flex;
    position: absolute;
}

.ContactsPage-title span {
    color: #FF0000;
    margin-left: 40px;
}

.ContactsPage-text-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 120px;
}

.ContactsPage-text {
    font-size: 48px;
    line-height: 63px;
}