.ContactsPage-container {
    display: flex;
}

.ContactsPage-title {
    font-size: 96px;
    line-height: 127px;
    display: flex;
    position: absolute;
}

.ContactsPage-title span {
    color: #FF0000;
    margin-left: 40px;
}

.ContactsPage-text-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 120px;
}

.ContactsPage-text {
    font-size: 48px;
    line-height: 63px;
}


@media (max-width: 1024px) {
    .ContactsPage-title {
        font-size: 86px;
    }

    .ContactsPage-text {
        font-size: 44px;
        line-height: 55px;
    }
}


@media (max-width: 768px) {
    .ContactsPage-title {
        font-size: 68px;
    }

    .ContactsPage-title span {
        margin-left: 20px;
    }

    .ContactsPage-text {
        font-size: 34px;
        line-height: 44px;
    }
}

@media (max-width: 600px) {
    .ContactsPage-title {
        font-size: 55px;
    }

    .ContactsPage-text {
        font-size: 30px;
        line-height: 40px;
    }
}

@media (max-width: 500px) {
    .ContactsPage-title {
        font-size: 45px;
    }

    .ContactsPage-text {
        font-size: 25px;
        line-height: 38px;
    }
}

@media (max-width: 400px) {
    .ContactsPage-title {
        font-size: 40px;
    }

    .ContactsPage-text {
        font-size: 20px;
        line-height: 35px;
    }
}

@media (max-width: 320px) {
    .ContactsPage-text {
        font-size: 18px;
        line-height: 32px;
    }
}