.intro-info-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 70px;
    top: 150px;
    align-items: flex-end;
}

.intro-info-container-item {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    background-color: #000;
    margin-bottom: 5px;
    width: fit-content;
    padding: 0px 2px;
}