header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 65px 10px 30px;
}

.logo {
    min-width: 240px;
    min-height: 40px;
    background-image: url(../images/collider_logo_black_traced.svg);
    background-repeat: no-repeat;

}

#header-links {
    display: flex;
    justify-content: space-between;
    max-width: 850px;
    transition: all 0.3s ease-out;
}

#header-links.open {
    max-height: 15em;
}

#header-links li {
    list-style: none;
    padding: 10px;
}

#header-links li a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #FFF;
}

.nav-toggle {
    display: block;
    float: right;
    height: 38px;
    width: 38px;
    cursor: pointer;
    padding: 8px 8px;
}

.nav-toggle span {
    display: block;
    height: 2px;
    width: 100%;
    margin-top: 4px;
    background-color: #ffff;
    transition: all .25s;
}

.nav-toggle.active span:first-child {
    transform: rotate(45deg) translate(4.4px, 4.4px);
}

.nav-toggle.active span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

.nav-toggle.active span:last-child {
    transform: rotate(-45deg) translate(4.4px, -4.4px);
}

@media (min-width: 1000px) {
    .nav-toggle {
        display: none;
    }
}

@media (max-width: 1000px) {
    #header-links {
        text-align: center;
        width: 100%;
        display: block;
        max-height: 0;
        overflow: hidden;
        transition: all 0.3s ease-out;
        z-index: 10;
        padding: 0;
    }
}