header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* padding: 0.5rem 0; */
    background: #000000;
    z-index: 3;
    will-change: transform;
    transition: background 0.3s, -webkit-transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
    transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1), background 0.3s;
    transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1), background 0.3s, -webkit-transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
    transform: translateY(0);
    -webkit-transform: translateY(0);
}

header.hidden {
    transform: translateY(-100%);
}

.header-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1500px;
    margin: 0 auto;
    padding: 10px 30px 10px 30px;
}

.header-first-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
}

.logo {
    min-width: 240px;
    min-height: 40px;
    background-image: url(../images/collider_logo_black_traced.svg);
    background-repeat: no-repeat;
}

#header-links {
    display: flex;
    justify-content: space-between;
    max-width: 850px;
    transition: all 0.3s ease-out;
}

#header-links.open {
    max-height: 15em;
}

#header-links li {
    list-style: none;
    padding: 10px;
}

#header-links li a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #FFF;
    transition: 0.3s ease-out;
}

#header-links li a:hover {
    color: #FF0000;
    cursor: pointer;
}

.nav-toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: right;
    height: 38px;
    width: 38px;
    cursor: pointer;
    padding: 8px 8px;
}

.nav-toggle:hover {
    cursor: pointer;
}

.nav-toggle span {
    display: block;
    height: 2px;
    width: 100%;
    margin-top: 4px;
    background-color: #ffff;
    transition: all .25s;
}

.nav-toggle.active span:first-child {
    transform: rotate(45deg) translate(4.4px, 4.4px);
}

.nav-toggle.active span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

.nav-toggle.active span:last-child {
    transform: rotate(-45deg) translate(4.4px, -4.4px);
}

@media (min-width: 1000px) {
    .nav-toggle {
        display: none;
    }
}

@media (max-width: 1000px) {
    #header-links {
        text-align: center;
        display: block;
        max-height: 0;
        overflow: hidden;
        transition: all 0.3s ease-out;
        z-index: 10;
        padding: 0;
        margin: 0 auto;
    }

    .header-first-part {
        width: 100%;
    }

    .logo {
        zoom: 0.9;
    }
}

@media (max-width: 768px) {
    .logo {
        zoom: 0.8;
    }
}

@media (max-width: 560px) {
    .logo {
        zoom: 0.6;
    }
}