/*.image-container {*/
/*    padding: 0px 40px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/

.galary-image {
    /*background-image: url(../images/intro.svg);*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*max-width: 1365px;*/
    /*max-height: 570px;*/
    /*width: 100%;*/
    /*height: auto;*/
    /*min-width: 300px;*/
    /*!*min-height: 570px;*!*/
    /*background-size: cover;*/
    /*object-fit: cover;*/

    background-position: center;
    background-repeat: no-repeat;
    /*max-width: 1365px;*/
    width: 100%;
    object-fit: cover;
    height: 99vh;
    max-height: 850px;
}

.galary-image.fullscreen {
    max-width: none;
    max-height: none;
}

.galary-image.rectangle {
    max-width: 375px;
    max-height: 830px;
    height: 85vh;
    zoom: 0.65;
}

.galary-image.square {
    max-width: 955px;
    max-height: 830px;
    height: 60vh;
}

.galary-image.half-height {
    height: 49vh;
}

.galary-image.intro {
    height: 75vh;
}

.galary-image.slide {
    height: 92vh;
}

.galary-image.contacts {
    height: 70vh;
}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {

}

@media (max-width: 560px) {
    .galary-image.slide {
        zoom: 0.6;
    }
}
